@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.eco {
  padding-top: 112px;

  &__content {
    margin-bottom: 48px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__images {
    img {
      overflow: hidden;
      border-radius: calc(var(--radius-main) * 3);
    }
  }

  &__desc {
    overflow: hidden;
    border-radius: calc(var(--radius-main) * 4);
    padding: 24px;
    background-color: var(--color-white);
  }

  h3 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 48px;
  }
}
