@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.catalog {
  &__swiper {
    overflow: hidden;

    .swiper-slide {
      height: auto;
      width: 389px;
    }
  }

  &__list {
    margin-bottom: rem(48);
  }

  h2 {
    margin-bottom: rem(48);
  }
}
